[Unit]
Description=Emacs Daemon

[Service]
Environment="COLORTERM=truecolor"
Environment="TERM=xterm-256color"
Type=simple
ExecStart=/snap/bin/emacs --fg-daemon
Restart=on-failure
TimeoutStopSec=10

[Install]
WantedBy=default.target
