[Unit]
Description=Emacs Daemon (Guix)

[Service]
Environment="LD_LIBRARY_PATH=%h/.guix-profile/lib"
Type=simple
ExecStart=%h/.guix-profile/bin/emacs --fg-daemon
Restart=on-failure
TimeoutStopSec=10

[Install]
WantedBy=default.target
