set editing-mode vi
set show-mode-in-prompt on

#set vi-ins-mode-string "\1\e[48;5;35;38;5;232;1m\2 ɪ \1\e[0m\2 "
#set vi-cmd-mode-string "\1\e[48;5;160;38;5;255;1m\2 ɴ \1\e[0m\2 "

set vi-ins-mode-string "\1\e[48;5;35;38;5;232;1m\2 𝝺 \1\e[0m\2 "
set vi-cmd-mode-string "\1\e[48;5;160;38;5;255;1m\2 ɴ \1\e[0m\2 "
